<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="hyperSoa">
      <section name="hyperNode" type="Hyper.NodeServices.Configuration.HyperNodeConfigurationSection, Hyper.NodeServices" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="Hyper.NodeServices.HyperNodeService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8000/HyperNode" />
          </baseAddresses>
        </host>
        <endpoint address="Alice" binding="netTcpBinding"
                  contract="Hyper.NodeServices.Contracts.IHyperNodeService" />
      </service>
    </services>
    <client>
      <endpoint name="Bob"
                address="net.tcp://localhost:8001/HyperNode/Bob"
                binding="netTcpBinding"
                contract="Hyper.NodeServices.Contracts.IHyperNodeService" />
    </client>
  </system.serviceModel>
  <hyperSoa xmlns="http://www.hypersoa.com/HyperSOAConfigSchema">
    <hyperNode name="Alice" maxConcurrentTasks="10"
               enableTaskProgressCache="true"
               enableDiagnostics="true"
               taskProgressCacheDuration="5">
      <systemCommands enabled="true"/>
      <activityMonitors>
        <add name="TaskActivityTracer" enabled="true"
               type="NodeModuleTest.ActivityMonitors.TaskActivityTracer, NodeModuleTest" />
      </activityMonitors>
      
      <commandModules>
        <!--Unit Testing Modules-->
        <add name="TestLongRunningCommand" enabled="true"
               type="Hyper.NodeServices.CommandModules.UnitTestingCommands.LongRunningCommandTest, Hyper.NodeServices.UnitTesting" />
        
        <!--Custom Modules-->
        <add name="DisposableCommand" enabled="true"
               type="NodeModuleTest.CommandModules.DisposableCommandModule, NodeModuleTest"
               requestSerializer="" responseSerializer="" />
      </commandModules>
    </hyperNode>
  </hyperSoa>
</configuration>