<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="hyperSoa">
      <section name="hyperNode" type="Hyper.NodeServices.Configuration.HyperNodeConfigurationSection, Hyper.NodeServices" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="Hyper.NodeServices.HyperNodeService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8000/HyperNode" />
          </baseAddresses>
        </host>
        <endpoint address="Alice" binding="netTcpBinding" contract="Hyper.NodeServices.Contracts.IHyperNodeService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceThrottling maxConcurrentCalls="64" maxConcurrentSessions="40" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint name="Bob" address="net.tcp://localhost:8001/HyperNode/Bob" binding="netTcpBinding" contract="Hyper.NodeServices.Contracts.IHyperNodeService" />
    </client>
  </system.serviceModel>
  <hyperSoa xmlns="http://www.hypersoa.net/HyperSOAConfigSchema">
    <hyperNode name="Alice" maxConcurrentTasks="10" enableTaskProgressCache="true" enableDiagnostics="true" taskProgressCacheDuration="5" hyperNodeEventHandlerType="NodeModuleTest.EventHandlers.TestEventHandler, NodeModuleTest" taskIdProviderType="NodeModuleTest.TaskIdProviders.NumericTaskIdProvider, NodeModuleTest">
      <systemCommands enabled="true" />
      <activityMonitors>
        <add name="TaskActivityTracer" enabled="true" type="NodeModuleTest.ActivityMonitors.TaskActivityTracer, NodeModuleTest" />
      </activityMonitors>

      <commandModules>
        <!--Unit Testing Modules-->
        <add name="TestLongRunningCommand" enabled="true" type="Hyper.NodeServices.CommandModules.UnitTestingCommands.LongRunningCommandTest, Hyper.NodeServices.UnitTesting" />

        <!--Custom Modules-->
        <add name="DisposableCommand" enabled="true" type="NodeModuleTest.CommandModules.DisposableCommandModule, NodeModuleTest" requestSerializer="" responseSerializer="" />
      </commandModules>
    </hyperNode>
  </hyperSoa>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
